:root {
  --primary-color: #4CAF4F;
  --secondary-color: #263238;
  --accent-color: #F9A826;
}

.header {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: background-color 0.3s ease;
}
.card-img-box {
    width: 100px; 
    height: 100px;
  border-radius: 5px;
  left:0;
  bottom: -50px;
  overflow: hidden;
}
.card-custom {
 
  padding-bottom: 20px;

}
.card-custom .card{
    border-radius: 28px;
}


.card-customm {
margin: 40px 20px;
text-align: center;
}

.card-d-img {
  width: 100%;
 height: 280px;
  overflow: hidden;
}

.card-d-img img {
  width: 100%;
  height: 100%;
 object-fit: cover;
  object-position: center top;
}

.row-trip{
    margin: 40px 0;
    

}
.row-trip img{

    width: 70px;
}
.c-act {
    background-color: #9d9e9f !important;
    width: 10px; 
    height: 10px;
}
.c-active {
    background-color: var(--secondary-color) !important;
}











